<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FitHome Interactive Plot of Readings</title>
</head>

<body>
  <div>
    <H1>FitHome Interactive Plot Example</H1>
    <p>This is an example of using mongo + Flask + bokeh to create visualizations with the data collected by the FitHome
      monitor. For more information see <a target="_blank"
        href="https://github.com/BitKnitting/FitHome/wiki">FitHome</a>.</p>
    <br>
    <br>

  </div>
  {{ script|safe }}
</body>

</html>